#community
  #detail
    #source
      .label Source:
      .text
    #more
      .label More detail:
      .text

  .container
    //- include services

    .row
      h2.need Community Needs
      h2.contribution Our Contributions

    .row
      .need.navigating(
        data-source='Interviews'
        data-description='Information collected during individual interviews for financial and insurance counseling, reported in the State Health Insurance Program National Performance Reporting Tool, October 1, 2013 – September 30, 2014.'
        )
        .circle
          .jaba-question
        .description While more people 65+ are accessing the internet and using mobile devices, the Pew Research Center found that over 40 percent of seniors don't use the internet at all and 23 percent don't use cell phones. This makes navigating complex issues such as Medicare difficult, if not impossible, without direct support.
      .contribution.medicare(
        data-source='Interviews'
        data-description='Information collected during individual interviews for financial and insurance counseling, reported in the State Health Insurance Program National Performance Reporting Tool, October 1, 2013 – September 30, 2014.'
        )
        .circle
          .jaba-info
        .description
          .big-number 4,564
          | people benefitted from hands-on assistance through JABA’s Information & Assistance services in making personal decisions such as choosing long-term care, creating wills, understanding dual eligibility, getting started in Medicare, handling financial confusions, plus receiving introduction to viable community resources


    .row
      .need.social-isolation(
        data-source='JABA, 2014'
        data-description='Information collected during individual interviews for financial and insurance counseling, October 1, 2013 – September 30, 2014.'
        )
        .circle
          .jaba-old-man
        .description As people get older, the likelihood that they will be alone increases. In fact, research shows that loneliness and social isolation can lead to serious physical and mental health problems, putting seniors at risk for abuse, drug and alcohol addiction, and even contribute to cognitive decline and early death.
      .contribution.advocacy(
        data-source='JABA, 2014'
        data-description='Information collected during individual interviews for financial and insurance counseling, October 1, 2013 – September 30, 2014.'
        )
        .circle
          .jaba-group-hug
        .description
          .big-number 4,352
          | people in Planning District Ten were relieved from loneliness, caused by physical, emotional or linguistic isolation, through involvement in JABA’s Community Senior Centers where they enjoy friendship and activities. Residents of nursing homes and assisted living facilities are continuously overseen by advocacy services to protect individual rights and JABA Friendly Visitors impact loneliness of the home-bound, one visit at a time


    .row
      .need.food-insecurity(
        data-source='JABA, 2014'
        data-description='As reported in Virginia’s No Wrong Door Information System, October 1, 2013 – September 30, 2014.'
        )
        .circle
          .jaba-empty-plate
        .description The Blue Ridge Food Bank tells us that in Planning District Ten, 7.1% of people 65+ are food insecure. Food insecurity has been found to be a strong indicator of significant financial and social strain.
      .contribution.meals(
        data-source='JABA, 2014'
        data-description='As reported in Virginia’s No Wrong Door Information System, October 1, 2013 – September 30, 2014.'
        )
        .circle
          .jaba-hot-meal
        .description
          .big-number 731
          | people in Planning District Ten were able to maintain a lifestyle that enabled them to focus on other key areas of their life other than where the next meal is coming from because of they received a daily hot, nutritious meal from JABA


    .row
      .need.caregivers(
        data-source='JABA, 2014'
        data-description='Information collected during individual interviews for financial and insurance counseling and group presentations and reported in Senior Medicare Patrol reporting tool, October 1, 2013 – September 30, 2014.'
        )
        .circle
          .jaba-admitted
        .description Caregiving is a tough job. Over 80 percent of the unpaid caregivers in the country are family members, friends, and neighbors. Unpaid caregivers provided an estimated 90 percent of all long-term care in this country. Sadly, half of those caregivers say their health has suffered due to caregiving and that they are too tired and do not have the time to take care of themselves.
      .contribution.caregiver-support(
        data-source='JABA, 2014'
        data-description='Information collected during individual interviews for financial and insurance counseling and group presentations and reported in Senior Medicare Patrol reporting tool, October 1, 2013 – September 30, 2014.'
        )
        .circle
          .jaba-assistance
        .description
          .big-number 195
          | people in our planning district enjoy peace of mind because their loved one is safe during the day, while they remain actively employed themselves, thus improving the quality of a senior’s day life and allowing the caregiver the health and time to provide for the family


    .row
      .need.healthcare-reform(
        data-source='JABA, 2014'
        data-description='Information collected daily and reported in Virginia’s No Wrong Door Information System, October 1, 2013 – September 30, 2014.'
        )
        .circle
          .jaba-costly-drugs
        .description Healthcare reform, along with fears about affordability, has created much confusion for seniors. A recent poll found that 89 percent of those surveyed said they need more information about how healthcare reform will affect Medicare.  Many of these same seniors feel insecure about managing their budgets for these and other necessary expenditures.
      .contribution.security(
        data-source='JABA, 2014'
        data-description='Information collected daily and reported in Virginia’s No Wrong Door Information System, October 1, 2013 – September 30, 2014.'
        )
        .circle
          .jaba-medicine
        .description
          .big-number 2,137
          | people were assisted by JABA counselors in making a sound judgment on Medicare prescription coverage, personal financial wellness and Affordable Care Act marketplace decisions


    .row
      .need.institution(
        data-source='JABA, 2014'
        data-description='Volunteer hours reported by individual and recorded in Volunteer Reporter, October 1, 2013 – September 30, 2014.'
        )
        .circle
          .jaba-costly-care
        .description According to several recent studies, seniors fear losing their independence even more than death. Indeed, according to one study, 89 percent of those seniors surveyed said they wanted to age at home. However, more than half of those surveyed said they were concerned about how they would be able to do so.
      .contribution.home(
        data-source='JABA, 2014'
        data-description='Volunteer hours reported by individual and recorded in Volunteer Reporter, October 1, 2013 – September 30, 2014.'
        )
        .circle
          .jaba-aging-at-home
        .description
          .big-number 3,012
          | people — deemed nursing-home-eligible — were instead provided a safe, secure environment in their own homes while still receiving medical oversight

